/* You can add global styles to this file, and also import other style files */
// .home-hero {
//   background-image: "https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265_960_720.jpg";
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 128px;
}